li{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
.wrap{
  max-width: 100%;
  margin: 0 auto;  
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 3px 5px 5px rgba(0,0,0,0.3);
  margin-bottom: 30px;
}
.navbar h1 a{
  background-image: url(../最終作業_images/logo.png);
  width: 224px;
  height: 50px;
  /* 圖片取代文字利於SEO */
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.navbar-main{
  display: flex;
}
.navbar-main li a{
  text-align: center;
}
.navbar li{
  display: inline-block;
}
.dropdown-open{
  display: none;
}